* {
    box-sizing: border-box;
}

.title-container {
    margin: 0 auto;
    font-size: 20px;
    text-align: center;   
}

.reloj-container {
    text-align: center;
}

#reloj {
    border-radius: 10px;
    width: 500px;
    height: 200px;
    text-align: center;
    font-size: 100px;
}

.alarma-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

pre{
    margin: 10px;
    font-size: 20px;
}